<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
  rel="stylesheet"
/>


<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
></script>

<section class="h-100 gradient-form" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-8 offset-md-2">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="assets/img/brand/logo.png"
                    style="width: 85px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">SSCBTFS</h4>
                </div>

                <form>
                  <p>Please login to your account</p>

                  <div class="form-outline ">
                    <label class="form-label text-primary" for="form2Example11" >Email/PhoneNumber</label>
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" style="border:solid 0.5px;"/>
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form-label text-primary" for="form2Example22" >Password</label>
                    <input type="password" id="form2Example22" class="form-control" placeholder="Password" style="border:solid 0.5px;"/>
                  </div>

                  <div class="text-center pt-1 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">
                      <a href="#/dashboard" style="color: white;">Login</a></button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger"><a href="#/register">Register</a></button><br>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <button type="button" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"><a href="#/home"style="color:white;">Go To Website</a></button>
                  </div>
                </form>

              </div>
            </div>
            <!-- <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">FacilitatingTradeAcross Borders</h4>
                <p class="small mb-0">Small-scale cross-border trade (SSCBT) is of substantial importance
                   in African countries. The existence of marked price differences due to variations in production capacities, trade barriers, and regulatory compliance costs, combined with the absence of geographical
                   or social separators, motivate many individuals to trade small consignments across borders.</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
