<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <h2>SSCBTFS Registration</h2>

            <nav>
              <button type="button" (click)="toggleEditor('name')">Register As A Trader</button>
              <button type="button" (click)="toggleEditor('profile')">Register As A Trade Group</button>
            </nav>

            <app-name-editor *ngIf="showNameEditor"></app-name-editor>

            <app-profile-editor *ngIf="showProfileEditor"></app-profile-editor>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
